<p id="notice"><%= notice %></p>

<h2><%= @owner.name %> <small>Owner</small></h2>

<p>
  <strong>Phone:</strong>
  <%= @owner.phone %>
</p>

<p>
  <strong>Veterinarian:</strong>
  <%= @owner.veterinarian_id %>
</p>

