<!--
  Hint: You will probably want to submit a full form instead of using the
        following text field. What other fields are necessary to perform
        the search, and to where should the form be submitted?
 -->

<form class="form-inline mt-2 mt-md-0">
  <%= text_field_tag 'search', nil, class: 'form-control mr-sm-2', placeholder: 'Search pets...' %>
  <!-- this button should not be necessary -->
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
